* {
  margin: 0;
  padding: 0.5rem;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
  h1 {
    font-size: 3rem;

  }


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1200px;
  margin: 0 auto;

  padding: 1rem 2rem;
}

.logo {
  width: 300px;
  height: auto;
}


nav li {
  font-weight: bold;
}

nav ul {
  list-style: none;

  display: flex;
  gap: 2rem;

  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

nav a:hover {
  color: #f4ce14;
}

.hero {
  background-color: #4D8072;
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 2rem;
  padding: 3rem 2rem;

  align-items: center;
}

.specials {
  padding: 3rem 2rem;
}

.specials-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 1rem;
  margin-top: 1rem;
}
.testimonials {
  padding: 3rem 2rem;
}

.testimonials-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  gap: 1rem;
}

footer {
  background-color: #edefee;

  display: grid;
  grid-template-columns: repeat(4, 1fr);

  gap: 2rem;

  padding: 3rem;
  border-radius:15px;
}

footer h4 {
  margin-bottom: 1rem;
}

footer ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-logo {
  width: 150px;
}

button {
  background-color: yellow;
  border: none;
  padding: 0.75rem 1.5rem;

  border-radius: 8px;

  font-weight: bold;

  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

@media (max-width: 768px) {

  header {
    flex-direction: column;
    gap: 1rem;
  }

  nav ul {
    flex-direction: column;
    text-align: center;
  }

  .hero {
    grid-template-columns: 1fr;
  }

  .specials-cards {
    grid-template-columns: 1fr;
  }

  .testimonials-grid {
    grid-template-columns: 1fr;
  }

  footer {
    grid-template-columns: 1fr;
  }


  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.95rem;
  }
}
